* {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
}

section {
  display: flex;
  position: relative;
  margin: 3rem 5rem;
  padding: 3rem 5rem;
  gap: 3rem;
}

.line {
  width: 50%;
  border-top: .7px solid #76B9F0;
  display: flex;
  margin: 0 auto;
  /* align-items: center; */
  opacity: .5;
}

/* HERO SECTION */
.hero {
  background-image: url("./background.png");
  background-size: cover;
  height: 90vh;
  margin: 0;
  padding: 5rem 5rem 0 8rem;
  padding-bottom: 0;
  position: relative;
  flex-direction: column;
}

h1 {
  font-family: "Charmonman", cursive;
  font-size: 6rem;
  color: #1893F8;
}

h1>span {
  font-family: "Charmonman", cursive;
  color: #050C9C;
}

.hero p {
  color: #1893F8;
  font-size: 3rem;
  margin-top: -1rem;
  letter-spacing: 2px;
}

.code-icon {
  width: 100px;
}

.circleImg {
  width: 28%;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.programImg {
  width: 20%;
  position: absolute;
  right: 100px;
  bottom: 100px;
  opacity: .9;
}

/* ABOUT ME SECTION */

.about-me {
  display: flex;
  position: relative;
  margin: 3rem 5rem;
  padding: 3rem 5rem;
  border: none;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.profileImg {
  width: 15%;
  height: 15%;
}

.laptop {
  width: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
}

h2 {
  font-size: 4rem;
  color: #76B9F0;
}

p {
  font-size: 1.7rem;
  width: 70%;
  letter-spacing: .8px;
  line-height: 1.5;
  color: #0927EB;
}

/* PORTOFOLIO SECTION */
.portofolio {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.slides {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.slide {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #A7E6FF;

}

.slide-active {
  background-color: #3572EF;
}

/* SKILLS SECTION */
.skills-text {
  margin-left: 2rem;
}

.skills h2 {
  margin-bottom: 2rem;
}

.skills p {
  margin-bottom: 1rem;
  width: 100%;
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.skills-logo {
  width: 40%;
  margin: 1rem;
}

.cssLogo {
  width: 28%;
}

/* CONTACT SECTION */
.contact {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contactBtn {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background: #0927EB;
  border-radius: 35px;
}

/* FOOTER SECTION */
.footer {
  margin: 3rem 0 0 0;
  background-image: url("background.png");
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}

.footer ul {
  display: flex;
  align-items: center;
  gap: 7rem;
  font-size: 1.5rem;
  font-weight: 600;
  list-style: none;
  
}
.footer p {
  font-size: .8rem;
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 0;
}

.footer a, .footer a:visited {
  color: #0927EB;
  text-decoration: none;
}
.footer a:hover {
  color: #1893F8;
}

@media (max-width: 700px) {
  html {
    font-size: 12px;
  }
  /* h1 {
    font-size: 4rem;
    
  }
  */
  p {
    width: 90%;
  } 
  .circleImg {
    width: 22%;
    right: 100px;
  bottom: 30px;
  }
  .programImg {
    width: 15%;
    right: 105px;
    bottom: 50px;
  }
  .about-me {
    margin: 5rem 0;
  }
  .profileImg {
    width: 25%;
    align-self: center;
  }
  .laptop {
    left: 0;
    bottom: 0px;
    display: none;
  }
  .carouselImg {
    width: 80%;
  }
  .skills {
    flex-direction: column;
  }
  .skills-logo {
    width: 25%;
  }
  .cssLogo {
    width: 18%;
  }
  .jsLogo {
    width: 20%;
  }

}